doctype html
html
  head
    link(rel='stylesheet', href='style.css')
  body

    h1 EXAM

    #score
    #answer

    #flash

    input(id='guess', type='text', maxlength="1")
    br
    button(id='start', onclick='start()') Start
    button(id='submit', onclick='guessAssign()') Guess
    button(id='repeat', onclick='repeatSeq()') Repeat


    script(src='script.js')
