doctype html
html
  head
    link(rel='stylesheet', href='style.css')
  body

    h1 EXAM

    #score
    #answer

    #flash

    input(id='guess', type='text')
    br
    button(id='submit', onclick='guessAssign()') Guess


    script(src='script.js')
