.flash {
  background-color: #fff;
}
#flash {
  height: 100px;
  width: 100px;
  margin: 30px auto;
}
#submit {
  display: none;
  margin-right: 10px;
}
#repeat {
  display: none;
}

body {
  background-color: #000b40;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.quiz{
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.quiz-entry{
  text-align: center;
}

.logo img{
  position: absolute;
  top: 40px;
  left: 20px;
  width: 150px;
  height: 150px;
}

button{
  width: 150px;
  height: 60px;
  margin: 10px auto;
  background: #DF153B;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  outline: none;
  border: 2px solid #DF153B;
  border-radius: 12px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: #e71e44;
}

#guess{
  display: none;
  margin: auto;
  height: 40px;
  width: 200px;
  background: #091446;
  outline: none;
  border-bottom: 3px solid #1f3599;
  border-width: 0 0 3px 0;
  text-align: center;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

::placeholder{
  font-size: 1em;
  text-transform: lowercase;
  font-weight: lighter;
  opacity: 0.1;
  color: white;
}
