.flash {
  background-color: #fff;
}
#flash {
  height: 100px;
  width: 100px;
}
#submit {
  visibility: hidden;
}
#repeat {
  visibility: hidden;
}
#guess {
  visibility: hidden;
}
body {
  background-color: #00f;
}
